body {
    font-family: "roboto", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;     
}

a, .h_text_small, footer {
    color: #e5e7eb;
}
/* The header logo and the three links on the right with their styling and positions*/

header, .hero_background, footer {
    background-color:#1f2937;
}

/*nav, .hero, .copyright {
    margin: 0 auto;
    max-width: 1200px;
}

.cards, .quotebox, .cta {
    margin: 0 auto;
    max-width: 1100px;
}
*/

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 32px 32px;
    margin: 0px 15%;     
}

ul {
    list-style-type: none;
    display: flex;
    gap: 32px;
}
.hero_background {
    padding: 60px 0px 60px;
}

.h_logo {
    display: flex;  
}

.h_logo img {
    border-radius: 15px;
    max-width: 50px;
}


.h_logo, .h_text_large, .cta {
    color: #f9faf8;
}

/* "This website is awesome" text and the hero image*/
.hero {
    display: flex;
    justify-content: center;
    flex-wrap: wrap-reverse;
    margin: 0 15%;
}   

.h_left {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    margin-top: 24px;
}

.h_text_large {
    font-size: 48px;
    font-weight: 900;
}

.h_text_small {
    font-size: 18px;
}

.body_text {
    font-size: 48px;
    font-weight: 900;
}

.h_button {
    background-color: #3882f6;
    color: white;
    border: 0px;
    align-self: flex-start;
    border-radius: 8px;
    padding: 4px 32px;
    margin-top: 24px;
}

/*Info Cards */
.info {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.cards {
    display: flex;   
    justify-content: center;
    flex-wrap: wrap;
    margin: 0px 15%;
}

.card img {
    max-width: 300px;
    border-radius: 8px;
    margin-bottom: 16px;
}

.c_text {
    text-align: center;
    max-width: 300px;
}

.card {
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 0px 16px;
    
}

/*Quote Box*/
.info {
    padding: 100px 0px;
}

.quote {   
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.quotebox {
    display: flex;
    flex-direction: column;
    margin: 100px 20%;
    padding: 0px 32px;
}

.quote_text {
    font-size: 36px;
    font-style: italic;
}

.quote_attribute {
    display: flex;
    align-self: flex-end;
    font-weight: 900;
    margin-top: 16px;
}

/*Call to Action*/
.call_to_action {
    display: flex;
    flex-direction: column;
}

.cta {
    background-color: #3882f6;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    margin: 100px 15%;
    padding: 50px;
}

.cta_text {
    display: flex;
    flex-flow: column;
}

.cta_l {
    font-weight: 900;
}
.cta_button {
    background-color: #3882f6;
    color: white;
    border: 0px;
    align-self: flex-start;
    border-radius: 8px;
    border: 1px solid white;
    padding: 4px 32px;
}

/* copyright */
footer {
    display: flex;
    justify-content: center;
    padding: 16px 0;
}